body {
	background-color: teal;
	color: orange;
	}

#txt {
	font-size: 150px;
	margin: 0% auto;
	width: 100%;
	height: 200px;
	margin-top: 200px;
	font-family: Arial;
	display: block;
	display: inline-block;
	text-align: center;
}

/*#hawaii {
	font-size: 75px;
	margin: 0% auto;
	width: 100%;
	height: 75px;
	font-family: Arial;
	display: block;
	border: 1px solid blue;
}*/
